@font-face {
  font-family: "iconfont"; /* Project id 3691792 */
  src: url('//at.alicdn.com/t/c/font_3691792_zq71occui7.woff2?t=1665284649731') format('woff2'),
       url('//at.alicdn.com/t/c/font_3691792_zq71occui7.woff?t=1665284649731') format('woff'),
       url('//at.alicdn.com/t/c/font_3691792_zq71occui7.ttf?t=1665284649731') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuyanjianyi:before {
  content: "\e62c";
}

.icon-liuyanfill:before {
  content: "\e743";
}

.icon-liuyan:before {
  content: "\e638";
}

.icon-liuyan1:before {
  content: "\e606";
}

.icon-liuyan2:before {
  content: "\e60a";
}

.icon-B-liuyan:before {
  content: "\e729";
}

.icon-gedan:before {
  content: "\e602";
}

.icon-gedan1:before {
  content: "\e61b";
}

.icon-yinlegedanyinfu:before {
  content: "\e72f";
}

.icon-lianjie:before {
  content: "\e63f";
}

.icon-lianjie1:before {
  content: "\e8e1";
}

.icon-icon-:before {
  content: "\e620";
}

.icon-wenzhanghui:before {
  content: "\e616";
}

.icon-douyu-:before {
  content: "\e629";
}

.icon-wenzhang1:before {
  content: "\e624";
}

.icon-shuji:before {
  content: "\e605";
}

.icon-songlist-01:before {
  content: "\e703";
}

.icon-book:before {
  content: "\e600";
}

.icon-book1:before {
  content: "\e7b3";
}

.icon-book2:before {
  content: "\e601";
}

.icon-16:before {
  content: "\e61e";
}

.icon-wenzhang:before {
  content: "\ec64";
}

